<h1> Joe Smack Symfony </h1>

<div> You received this mail because you registered on 
    <a href="https://joe-smack-symfony.herokuapp.com/">https://joe-smack-symfony.herokuapp.com/</a>
</div>

<p>
    Please confirm your email address by clicking the following link: <br><br>
    <a href="{{ signedUrl }}">Confirm my Email</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>