{% extends 'base.html.twig' %}

{% block title %} Liste des {{ type }}s {% endblock %}

{% block body %}
{% for recette in recettes %}
    <div class="RC-List">
        <a href="{{ path("recettes_recette", {id: recette.id}) }}"> 
            <button class="w-100 m-2 btn btn-primary"> 
                {{ recette.title }}  
            </button>
        </a>
        <img src="{{ asset('img/'~recette.imgName) }}" />
    </div>
    <br />
{% endfor %}
{% endblock %}
